*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
div > img {
  width: 300px;
  height: 300px;
  position: absolute;
}

div{
  width: 340px;
  display: relative;
  height: 340px;
  display: inline-block;
}
hr{
  width: 150px;
  height: 5px;
  background-color: #000;
  position: absolute;
  top: 105px;
  left: 50px;
}
#imagenes{
  position: absolute;
  left: 50px;
}
#imagenes1{
  position: absolute;
  left: 50px;
  top: 350px;
}

#myParrafo{
  height: 55px;
  font-family: courier;
  top: 60px;
  font-weight: bold;
  color: #C0C0C0;
  left: 50px;
  font-size: 30px;
  position: absolute;
}

#cabeza{
  position: relative;
  height: 130px;
}
